<%- include('includes/start') %>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- horizontal Basic Forms Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="text-blue h4">Update Report</h4>
            </div>
          </div>
          <form action="/admin/employee/report/<%= user.id %>/edit/<%= year %>/<%= month %>/<%= day %>" method="post"
            enctype="multipart/form-data">
            <div class="form-group">
              <label>Start</label>
              <input type="time" class="form-control" name="start" placeholder="Start" value="<%= report.start %>" />
            </div>
            <div class="form-group">
              <label>End</label>
              <input type="time" class="form-control" name="finsih" placeholder="End" value="<%= report.finsih %>" />
            </div>
            <div class="form-group">
              <label>Worked Time</label>
              <input type="text" class="form-control" name="worked_time" placeholder="Worked Time"
                value="<%= report.worked_time %>" />
            </div>
            <div class="form-group">
              <label>Bounce</label>
              <input type="number" class="form-control" name="bounes" placeholder="Bounce"
                value="<%= report.bounes %>" />
            </div>
            <div class="form-group">
              <label>Subtract</label>
              <input type="number" class="form-control" name="subtract" placeholder="Subtract"
                value="<%= report.subtract %>" />
            </div>
            <div class="form-group">
              <label>Note</label>
              <input type="text" class="form-control" name="note" placeholder="Note" value="<%= report.note %>" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
        <!-- horizontal Basic Forms End -->
      </div>
      <%- include('includes/end') %>